{% extends "layout.html" %}


{% block body %}


    <h1>Chat</h1>
    <a href="{{url_for('logout')}}">Log out</a>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group" id="messages">
                
            </ul>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="myMessage" placeholder="Message">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" id="sendbutton">Send</button>
                </div>
            </div>
            
        </div>   
        
    </div>

    
{% endblock %}
